<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         convertDeprecationsToExceptions="false"
>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>src/tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="APP_ENV" value="test"/>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
        <env name="APP_DEBUG" value="1"/>

        <env name="DATABASE_URL" value="mysql://root:rootpassword@127.0.0.1:3306/symfony?serverVersion=8.0&amp;dbname_suffix=" />
    </php>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
